services:
  api:
    build: ./api
    ports:
      - "3001:3001"
    environment:
      - API_SECRET=hello-from-env

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://api:3001
    depends_on:
      - api